* {
    box-sizing: border-box;
}
body {
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}
.calculator {
    width: 300px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.screen {
    height: 100px;
}
.button-row {
    display: flex;
}
.button {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 75px;
    font-size: 1em;
}
.add, .subtract, .multiply, .equals, .divide {
    background-color: orange;
}
.double {
    width: 200px;
}